.Header {
  position: sticky;
  top: 0;
  .headerPagesBlock {
    position: -webkit-sticky;
  position: sticky;
  top: 0;
    .border {
      border-bottom: 1px solid silver;
    } 
    .bar {
      padding: 0 34px;
      .logo {
        padding: 10px 20px 10px 0;
      }
      ul {
        li {
          padding-top: 14px;
          padding-bottom: 12px;
          font-size: 10px;
          margin-right: 20px;
          .barIcon {
            width: 20px;
            height: 20px;
            margin-right: 10px;
          }
        }
      }
    }
    .second-bar{
      .barIcon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
      padding: 0 34px;
      .logo {
        padding: 10px 20px 10px 0;
      }
      ul {
        li {
          padding-top: 14px;
          padding-bottom: 12px;
          font-weight: 500;
          font-size: 12px;
          margin-right: 20px;
        }
      }
    } 
  }
}


